# Python
__pycache__/
*.pyc

# Database
*.db

# Environment variables
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

venv/

models/finetuned_complaint_model_final/

chroma_db/
.streamlit/secrets.toml
